{% extends 'cover.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ asset('/css/signin.css') }}" rel="stylesheet">
{% endblock %}



{% block btnHeader %}

    <a href="{{ path('app_login') }}" class="btn btn-secondary ml-3">Log in</a>

{% endblock %}


{% block main %}


    {{ form_start(registrationForm, {'attr':{'class':'form-signin text-center'}}) }}


    <h1 class="h3 mb-5 font-weight-normal">Please, sign up!</h1>


    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'type': 'email', 'placeholder': 'Email address', 'autofocus':'true'}}) }}
    {% if not registrationForm.email.vars.valid %}
        {% for error in registrationForm.email.vars.errors %}
            <p class="text-left">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
    {{ form_widget(registrationForm.password.first, {'attr': {'class': 'form-control mb-0','type': 'password', 'placeholder': 'Password'}}) }}
    {% if not registrationForm.password.first.vars.valid %}
        {% for error in registrationForm.password.first.vars.errors %}
            <p class="text-left">{{ error.message }}</p>
        {% endfor %}
    {% endif %}
    {{ form_widget(registrationForm.password.second, {'attr': {'class': 'form-control mb-3', 'type': 'password', 'placeholder': 'Repeat password'}}) }}

    <button type="submit" class="btn btn-lg btn-block">Sign up</button>
    {{ form_end(registrationForm) }}


{% endblock %}



